.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.flex-box img {
  max-width: 150px;
}

@media (min-width: 700px) {
  .flex-box {
    flex-direction: row;
  }
}
