<section class="section-white">
  <div class="container small">
    <div class="flex-box">
      <span class="title three blue center">Website</span>
      <h1 class="title one center">The Developers</h1>
      <p class="paragraph center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        magnam, aut et aliquid libero quo eos ullam similique, rerum iure quod
        quae itaque voluptatibus. Rem voluptate atque animi repudiandae alias!
      </p>
    </div>
  </div>
</section>
