.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;

  border-radius: 255px;

  border: 1px solid;

  transition: 0.4s;
}

.btn.md {
  padding: 0 32px;
  height: 3.1875rem;
}

.btn.sm {
  padding: 0 24px;
  height: 2.875rem;
}

.btn.solid {
  color: var(--color-black);
  border-color: var(--color-yellow);
  background: var(--color-yellow);
}

.btn.solid:hover {
  filter: brightness(0.9);
}

.btn.outline {
  color: var(--color-black);
}

.btn.outline:hover {
  color: var(--color-white);
  background: var(--color-black);
  border-color: var(--color-yellow);
}
