* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
