root {
  --font-primary: "Inter", sans-serif;
}

.title {
  font-family: "Inter", sans-serif;
  /* font-family: var(--font-primary); */
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-black);
}

.title.one {
  font-size: clamp(2rem, 4vw, 3.4375rem);
}

.title.two {
  font-size: clamp(1.8rem, 3vw, 2.5rem);
}

.title.three {
  font-size: 1.125rem;
}

.title.center {
  text-align: center;
}

.title.white {
  color: var(--color-white);
}

.title.blue {
  color: var(--color-blue);
}

.paragraph {
  font-family: "Inter", sans-serif;
  /* font-family: var(--font-primary); */
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-black);
}

.paragraph.small {
  font-size: 1rem;
}

.paragraph strong {
  font-weight: 700;
}

.paragraph.center {
  text-align: center;
}

.paragraph.white {
  color: var(--color-white);
}
