<section class="section-blue">
  <div class="container small">
    <div class="flex-box">
      <h2 class="title one white center">Find the best developers</h2>
      <p class="paragraph white center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non,
        ducimus voluptas eos modi minima ipsa doloribus dolorem, culpa a
        voluptatem dolore nostrum voluptatum at facere consequatur maiores,
        quibusdam nihil!
      </p>
      <a class="btn solid md" routerLink="/contato">Learn more</a>
    </div>
  </div>
</section>
